@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
*{
  font-family: "Pattaya", Arial, Verdana;
}


html, body{
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
	height: 100%;
	width: 99.8%;
}

html{
	scroll-behavior: smooth;
}


.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url('./imgs/wallpaper_1.JPG');
}
.fade-carousel .slides .slide-2 {
  background-image: url('./imgs/wallpaper_3.JPG');
}
.fade-carousel .slides .slide-3 {
  background-image: url('./imgs/d3.jpg');
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}

.navbar-wrapper{
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index:20;
}


.header{
	position: relative;
	font-family: "Courier new";
	background-image: url("./imgs/wallpaper.jpg");
	background-repeat: no-repeat;
	padding: 2%;
	border-radius: 3px;
  height: 70%;
}

.list{
	position: sticky;
	top: 0;
	float: right;

}

.download{
	padding: 20px;
	position: relative;
	margin-top: 0px;
	border: 2px solid #ffebee;
	display: inline-block;
	background-color: #ffebee;
  color: #c85a54;
  border-radius: 5px; ;

}

.nav{
	font-size: 1.7em;
	margin-top: 0px;
	padding: ;
	margin:0px;
	margin-bottom: 0px;
	padding:1.1%;
}

.logo{
	height: 200%;
	margin-bottom: 0px;
}

.contact a{
	font-family: "Courier new";
	list-style-type: none;
	text-decoration: none;
	list-style: none;
	color: #f44336;
}

.nav-items{
	position: absolute;
	left: 37%;
	top: 80%;
}

.nav-item{
	padding: 20px;
	position: relative;
	margin-top: 0px;
	border: 2px solid white;
	display: inline-block;
	background-color: white;
	border-radius: 5px;
}

.nav-items a{
	list-style-type: none;
	text-decoration: none;
	list-style: none;
	color: #f44336;

}

.nav-item:hover{
	opacity: 0.5;
}

.contact{
	float: right;
}

.buttons{
    padding-bottom: 4%;
    text-align: center;
		margin-left: 4%;
}

.button-item{
  padding: 20px;
	position: relative;
	margin-top: 0px;
	border: 2px solid #FFCBAB;
	display: inline-block;
	background-color: #FFCBAB;
  color: #c85a54;
  border-radius: 5px;
}

.button-item:hover{
    opacity: 0.7
}

.card{
  border-radius: 2px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.about{
  line-height: 1.8;
	text-align: justify;
	font-size: 1.5em;
  background-color: #ecfffd;
}

.about:hover{
  box-shadow: 2px 2px 21px 13px rgba(194,184,194,1);


}

.about h2{
	margin-left: 30%;
	margin-right: 30%;
	border-radius:4px;
	border-bottom:4px solid #c85a54;
	text-align: center;
	padding-top: 4%;
	margin-bottom: 4%;

}


.about p{
	border-radius: 10px;
	padding: 3%;
	background-color:;
	margin-left: 20%;
	margin-right: 20%;
}

hr{
	border-radius: 30%;
	margin-left: 30%;
	max-width: 100%;
	margin:1%;
	border: 3px solid #ffcccb;
}

.gallery-item{
	position:relative ;
	width: 27%;
	display: inline;
	padding:2%;
}

.gallery-item img{
	width: 27%;
	border-radius: 10%;
	padding-bottom: 2%;
}




.gallery h2{
	margin-left: 30%;
	margin-right: 27%;
	border-radius:4px;
	border-bottom:4px solid #c85a54;
	text-align: center;
	padding-top: 4%;
	margin-bottom: 4%;
}

.services{
    border-radius: 2px;
		background-color: #FFABB8;
    padding: 2%;

    position: relative;
}

.icon-services{
	margin-left:;
	position: relative;
}

.icon-services ul li{
	padding: 2%;
	display: inline-block;
}

.icon-services p{
	font-size: 1.5em;
}

.nav-gallery{
	display: none;
}
.fa-truck, .fa-edit, .fa-credit-card{
	position: relative;
	font-size: 2em;
}
.icon{

	font-size: 2em;
	padding: 3px;
}

.icon:hover{
	color:white;
}

.address{
	position: relative;
	vertical-align: top;
}

#googleMap{
	border-radius: 2px;
	float: left;
	width:49%;
	height:200px;
	margin: 0.5%;
}

.social-media{
	overflow: auto;
	border-radius: 2px;
	margin: 0.5%;
	position: absolute;
	right: 0;

	background-color: #ffcccb;
	height: 200px;
	width: 50%;
}

.social-media-items{
	position: absolute;
	top:8%;
	left: 20%;
	list-style: none;
	padding: 1%;
}

.social-media-items li{
	font-family: "Pattaya", Arial, Verdana;
	padding: 0.8%;
}

.footer{




	background-color: #FFCBAB;
}

.footer p{
	text-indent: 0.5%;
	font-size: 1em;
}

.fa-chevron-circle-up{
	position: fixed;
	bottom: 50px;
	right: 50px;
	font-size: 3em;
}

.link-icon{
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 690px){
	.gallery-item img{
		width: 90%;
	}

	.nav-gallery{
		display:block;
	}

	.buttons{
		display: none;
	}

	.fas, .fab{
		font-size: 0.7em;
	}

	.nav img{
		top: 25%;
		left: 25%;
	}

	.nav-item{
		padding: 10px;
		padding-right: 25px;
		width: 15%;
	}

	.nav-items a{
		padding: 0px;
		font-size:0.8em;
	}

	.nav-items{
		top: 70%;
		left: 0;
	}


	.fa-chevron-circle-up{
		font-size: 2em;
		bottom: 25px;
		right: 25px;

	}

	.fa-truck, .fa-edit, .fa-credit-card{
		left: 0%;
		font-size: 2em;
	}

	.icon-services{
		margin-left: 2%;
	}
	.services p{
		font-size: 1em;
	}

	.download{
		padding: 5px;
		position: relative;
		margin-top: 0px;
		border: 2px solid #ffebee;
		display: inline-block;
		background-color: #ffebee;
	  color: #c85a54;
	  border-radius: 5px; ;

	}

	#googleMap, .social-media{
		height: 200px;

	}

	#googleMap{
		width: 100%;
	}
	.social-media{
		font-size: 2em;
		width: 100%;
		margin: 0.2%;
	}

	.social-media-items li{
		font-family: "Pattaya", Arial, Verdana;
		font-size: 0.8em;
	}

	.social-media-items{
		position: absolute;
		top:2%;
		left: 5%;
		list-style: none;
		padding: 0.25%;
		overflow:visible;
	}

	.social-media-items li{
		padding: 0.4%;
	}

	.footer{
		height: 20%;
	}

	.footer p{
		font-size: 0.9em;
	}

	.about{
	  line-height: 1.1;
	}

	.about h2{
		margin-left: 30%;
		margin-right: 30%;
		border-radius:4px;
		border-bottom:4px solid #c85a54;
		text-align: center;
		padding-top: 4%;
		margin-bottom: 4%;
		font-size: 1.5em;

	}

	.about p{
		border-radius: 10px;
		padding: 0.5%;
		background-color:;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 0.9em;
	}

	hr{

		border-radius: 30%;
		margin-left: 5%;
		max-width: 100%;
		margin:1%;
		border: 3px solid #ffcccb;
	}


}


@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
    font-family: 'Quicksand', sans-serif;
}
.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e140";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}
footer{
    font-family: 'Quicksand', sans-serif;
}
footer a,footer a:hover{
    color: #88C425;
}
