.header{
	position: sticky;
	
	font-family: "Courier new";
	background-image: url("./imgs/wallpaper.jpeg");
	background-repeat: no-repeat;
	
	padding: 2%;
}

.nav{

	margin-top: 0px;
	padding: ;
	height: 70%;
	margin:0px;
	padding-top:35%;
}

.nav img{
	position: fixed;
	top:0;
	left: 0;
	overflow: auto;
	height: 130px;
	float: left;
	margin-bottom: 20px;
}

.contact a{
	font-family: "Courier new";
	list-style-type: none;
	text-decoration: none;
	list-style: none;
	color: #f44336;
}

.nav-items{
	margin-left: 25%;
	padding-top: 2%;
}

.nav-item{
	padding: 20px;
	position: relative;
	margin-top: 0px;
	border: 2px solid white;
	display: inline-block;
	background-color: white;
}

.nav-item a{
	list-style-type: none;
	text-decoration: none;
	list-style: none;
	color: #f44336;
}

.nav-item:hover{
	opacity: 0.5;
}

.contact{
	float: right;
	
}

.about{
	text-align: justify;
	border-radius: 10px;
	
	margin-left: 20%;
	margin-right:20%;

}

.about h2{
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
	
}

.about p{
	border-radius: 10px;
	padding: 3%;
	background-color: #ffd180;
}

hr{

	border-radius: 30%;
	margin-left: 30%;
	max-width: 100%;
	margin:1%;
	border: 3px solid #ffcccb;
}